.Rproj.user
.Rproj.user/
.Rhistory
.RData
.httr-oauth
analysis/data/raw_data/**/*.rdata
analysis/data/raw_data/**/*.RData
analysis/data/raw_data/**/*.rds
analysis/data/raw_data/keys.csv
analysis/data/derived_data/**/*.rdata
analysis/data/figures/** 